.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: end;
  gap: 16px;
}
