.place__button {
  margin: 0;
  grid-area: place__button;
  width: 355px;
  height: 48px;
  background-color: #0278fe;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 600;
  padding: 13px 20px;
}

.place__button a {
  color: white;
  text-decoration: none;
}

.place__button:hover {
  background-color: #0063d2;
  cursor: pointer;
}
