.cover__call {
  background-image: linear-gradient(
      rgba(42, 44, 47, 0.3),
      rgba(42, 44, 47, 0.3)
    ),
    url("/images/__background.jpg");
  background-position: cover;
  max-width: 1184px;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.cover__call:hover {
  background-image: linear-gradient(
      rgba(42, 44, 47, 0.8),
      rgba(42, 44, 47, 0.8)
    ),
    url("/images/__background.jpg");
}
