.cover {
  width: 92%;
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 970px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 64px;
  }
}
