/*VAMOS FAZER TUDO AQUI, DEPOIS VAMOS DIVIDINDO EM BLOCO CONFORME FORMOS FINALIZANDO A SEÇÕES*/

@import url(../blocks/vendor/normalize.css);
@import url(../blocks/vendor/fonts/inter.css);

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.page {
  margin: 0 auto;
  max-width: 1280px;
  font-family: "Inter";
  color: #ffffff;
  background-color: #2a2c2f;
}

.logo {
  margin: 40px auto;
}

.header {
  text-align: center;
}

.header__title {
  margin-top: 91px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
}

.header__subtitle {
  margin-top: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
}

/*Resolver opacidade e filtro na imagem*/

.header__image {
  margin-top: 64px;
  max-width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.intro {
  margin-top: 91px;
  margin-left: 148px;
  margin-right: 115px;
}

.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07;
}

.intro__content {
  margin-left: 0;
  margin-top: 40px;
  max-width: 720px;
}

.intro__quote_text {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  position: relative;
}
.intro__quote_text-author {
  position: absolute;
  bottom: -10px;
  right: -2px;
}
.intro__text {
  margin-top: 42px;
  font-size: 16px;
  line-height: 1.6;
}

.gallery {
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: end;
  gap: 16px;
}

.gallery__item {
  margin: 0;
}

.cities {
  margin-top: 12px;
  margin-left: 148px;
  margin-right: 148px;
}

.cities__item {
  margin-top: 80px;
  display: grid;
  grid-template-areas:
    "cities__title cities__artist"
    "cities__image cities__description"
    "button_cities cities__description";
  row-gap: 48px;
  column-gap: 40px;
}

.cities__title {
  margin: 0;
  grid-area: cities__title;
  font-size: 72px;
  line-height: 1.05;
}

.cities__image {
  grid-area: cities__image;
}

.cities__artist {
  margin: 0;
  grid-area: cities__artist;
  align-self: flex-end;
}

.cities__artist-title {
  grid-area: cities__artist-title;
  font-size: 12px;
  line-height: 1.21;
}

.cities__artist-name {
  grid-area: cities__artist-name;
  font-size: 18px;
  line-height: 1.22;
}

.cities__description {
  grid-area: cities__description;
  font-size: 18px;
  line-height: 1.63;
}

.cities__description p:nth-last-child(1) {
  margin-top: 25px;
}

.cities__link-button {
  margin: 0;
  grid-area: button_cities;
  width: 355px;
  height: 48px;
}

.button {
  background-color: #0278fe;
  color: white;
  font-size: 18px;
  line-height: 1.21px;
  border: none;
  border-radius: 4px;
}

.button_cities {
  width: 355px;
  height: 48px;
}
