/*

1 - Arrumar classe e blocos de botão. Incluir botão específico para cada bloco sem utilizar classe comum. Trocar <BUTTON> para direto no <a> para facilitar fontes e tudo mais.

2 - Arrumar responsividade / porcentagens etc.

3 - Outros. 

*/

@import url(../blocks/vendor/normalize.css);
@import url(../blocks/vendor/fonts/inter.css);

@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);

@import url(../blocks/logo/logo.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__quote_text/intro__quote_text.css);
@import url(../blocks/intro/__quote_text-author/intro__quote_text-author.css);
@import url(../blocks/intro/__content/intro__content.css);
@import url(../blocks/intro/__text/intro__text.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);

@import url(../blocks/places/places.css);

@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__artist-title/place__artist-title.css);
@import url(../blocks/place/__artist-name/place__artist-name.css);
@import url(../blocks/place/__artist/place__artist.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__description/place__description.css);
@import url(../blocks/place/__link-button/place__link-button.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__call/cover__call.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__text/cover__text.css);
@import url(../blocks/cover/__link-button/cover__link-button.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copy/footer__copy.css);

@media screen and (min-width: 656px) and (max-width: 1024px) {
  .intro {
    margin: 91px 0 auto;
  }

  .photo-grid {
    grid-template-columns: 1fr 1fr;
  }
  .places {
    min-width: 85%;
    margin: 0 auto;
  }

  .place__title {
    margin: 0;
    grid-area: place__title;
    font-size: 42px;
    line-height: 1.09;
  }
  .place__description {
    grid-area: place__description;
    font-size: 16px;
    line-height: 1.63;
  }
}

@media screen and (max-width: 656px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .intro__quote_text {
    font-size: 24px;
    line-height: 1.25;
  }

  .photo-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .intro {
    margin: 0;
  }

  .place {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .place__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .place__link-button {
    display: block;
    order: 99;
    width: 288px;
  }
  .button {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
  }

  .cover__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
  }
  .cover__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
  }

  .cover__link-button {
    width: 191px;
    height: 48px;
  }
}
