.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
  }
}
