.place {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 46% 54%;
  grid-template-areas:
    "place__title place__artist"
    "place__image place__description"
    "place__button place__description"
    "auto auto";
  row-gap: 5%;
  column-gap: 4%;
}

@media screen and (max-width: 768px) {
  .place {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
  }
}
