.place {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  grid-template-areas:
    "place__title place__artist"
    "place__image place__description"
    "place__button place__description"
    "auto place__description";
  gap: 48px 40px;
}

/* Removi o margin-top de 80px do primeiro elemento, para não somar com a margim do bloco anterior. O espaçamento fixado no gap não está influenciando nas margins dos outros elementos. */
.place:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 970px) {
  .place {
    margin-top: 72px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "place__title"
      "place__artist"
      "place__image"
      "place__description"
      "place__button";
    gap: 30px;
    margin-top: 50px;
  }
}
/* Reorganizei o grid para a posição correta dos elementos. 
Rechequei espaçamento no brief e consta o seguinte:

[__url-heading(artist-title) e __artist-name]: está menor que 10px.

[Último parágrafo de texto e botão]: O espaçamento no brief está aleatório para cada bloco de cidade. Mantive 30px para manter o padrão da maioria dos blocos.

[Entre __artist e imagem]: Padrão é 30px.
*/
